/********************************************************
Настройка стилей окна календаря на год
*********************************************************/


/*** Окно календаря 								 ***/
#bg_ortcal_bscal {					
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	border: 5px ridge #FFFFFF;
	margin: 0px;
	padding: 0px;
	box-shadow: 0 0 5px;
/*	z-index: 1000; */
	left: 0px;
	top: 0px;
	position: absolute;
}
#bg_ortcal_bscal table {
	border: 0px;
	border-collapse:collapse; 
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: normal;
	text-align: center;
}

#bg_ortcal_bscal tr {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
#bg_ortcal_bscal td {
	border: 0px;
	margin: 0px;
	padding: 0px;
	min-width: 25px;
}
#bg_ortcal_bscal hr {
	margin: 2px 0 2px;
}
/* Buttons */
#bg_ortcal_bscal button,
#bg_ortcal_bscal input[type="button"],
#bg_ortcal_bscal input[type="reset"],
#bg_ortcal_bscal input[type="submit"] {
	border: 0;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	margin: 5px 0px;
	display: inline;
	cursor: pointer;
}
/* Input fields */
#bg_ortcal_bscal input[type="text"],
#bg_ortcal_bscal textarea {
	font-size: 12px;
	font-weight: normal;
	padding: 2px;
	margin: 5px 0px;
	display: inline;
}
#bg_ortcal_bscal .bg_ortcal_top {			/* Заголовок окна 				*/
       height: 20px;
}
#bg_ortcal_bscal td.bot {			/* Подвал окна 					*/
	cursor: pointer;
	text-align: center;
}
#bg_ortcal_bscal .bg_ortcal_top td, #bg_ortcal_bscal td.bot {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 5px;
}
#bg_ortcal_bscal .bg_ortcal_top-left  {		/* "Выберите дату" 				*/
    cursor:help;
	text-align: left;
}
#bg_ortcal_bscal .bg_ortcal_top-right  {		/* Х - закрытие окна			*/
	text-align: right;
}
 
#bg_ortcal_bscal td.bg_ortcal_arrow{			/* Поля перехода назад-вперед	*/
    font-family: Tahoma;
    font-size: 16px;
	text-align: center;
	padding: 3px 5px;
	cursor: pointer;
}
#bg_ortcal_bscal  td.bg_ortcal_over {			/* Дата под курсором			*/	
    border: 0px outset;
	font-weight: bold;
    cursor: pointer;
	text-align: center;
}
#bg_ortcal_bscal td.bg_ortcal_month {			/* Названия месяцев				*/
    font-weight: bold;
    font-size: 14px;
}
#bg_ortcal_bscal td.bg_ortcal_week {			/* Дни недели					*/
	text-align: center;
}
#bg_ortcal_bscal td.bg_ortcal_day {			/* Обычный день					*/
    color: #000000;
	background-repeat: no-repeat;
	text-align: center;
}
#bg_ortcal_bscal td.bg_ortcal_today {			/* Сегодня						*/
	background-repeat: no-repeat;
    font-weight: bold;
	text-align: center;
}
#bg_ortcal_bscal td.bg_ortcal_weekend {		/* Воскресные дни				*/
	color: red;						/* Цвет текста 	*/
	text-align: center;
}
#bg_ortcal_bscal td.bg_ortcal_easter {		/* Пасха						*/
    color: white;					/* Цвет текста 	*/
 	background-color: red;			/* Цвет фона 	*/
    font-weight: bold;
	text-align: center;
}
#bg_ortcal_bscal td.bg_ortcal_holidays {		/* Праздники					*/
    color: red;						/* Цвет текста 	*/
    font-weight: bold;
	text-align: center;
}
#bg_ortcal_bscal td.bg_ortcal_memory {		/* Дни памяти (родительские)	*/
    color: blue;					/* Цвет текста 	*/
    font-weight: bold;
	text-align: center;
}
#bg_ortcal_bscal td.bg_ortcal_post {			/* Постные дни					*/
	background-color:silver;		/* Цвет фона 	*/
	text-align: center;
}
#bg_ortcal_bscal td.bg_ortcal_post_weekend { /* Постные воскресные дни		*/
	color: red;						/* Цвет фона 	*/
	background-color:silver;		/* Цвет фона 	*/
	text-align: center;
}
#bg_ortcal_bscal td.bg_ortcal_post_holidays { /* Постные праздники			*/
	color: red;						/* Цвет текста 	*/
	background-color:silver;		/* Цвет фона 	*/
    font-weight: bold;
	text-align: center;
}
#bg_ortcal_bscal td.bg_ortcal_post_memory {	/* Постные дни памяти			*/
	color: blue;					/* Цвет текста 	*/
	background-color:silver;		/* Цвет фона 	*/
    font-weight: bold;
	text-align: center;
}
#bg_ortcal_bscal .bg_ortcal_wedding_on {		/* Есть бракосочетание			*/
	outline-width: 1px;
    outline-style: solid; 
}
#bg_ortcal_bscal .bg_ortcal_nowedding_off {	/* Нет бракосочетания выкл.		*/
	outline-width: 0px;
}
#bg_ortcal_bscal .bg_ortcal_wedding_off {	/* Есть бракосочетание	выкл.	*/
	outline-width: 0px;
}
#bg_ortcal_bscal a {			/* Ссылки внетри календаря			*/
    color: inherit;
	background-repeat: no-repeat;
	text-align: center;
	text-decoration: none;
}

/*** Окно меню выбора действий						  ***/
#bg_ortcal_v-menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
	line-height: normal;
	border: 1px outset;
	margin: 0px;
	padding: 0px;
/*	z-index: 1001; */
	left: 0px;
	top: 0px;
	position: absolute;
}
#bg_ortcal_v-menu hr {
	margin: 2px 0 2px;
}
#bg_ortcal_v-menu ul {
	list-style: none;
	margin: 0.3em 0em;
	padding: 0px;
}
#bg_ortcal_v-menu li {
	list-style: none;
	cursor: pointer;
	margin: 0px;
	padding: 0.2em 1em;
}
#bg_ortcal_v-menu  li a {
	text-decoration: none;
	color:inherit;
	border: 0;
}

/********************************************************
Настройка стилей окна календаря на месяц
*********************************************************/


/*** Окно календаря 								 ***/
.bg_moncal {					
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	border: 5px ridge #FFFFFF;
	margin: 0px;
	padding: 0px;
	min-width: 170px;
	max-width: 200px;
}
.bg_moncal table {
	border: 0px;
	border-collapse:collapse; 
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: normal;
	text-align: center;
}

.bg_moncal tr {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.bg_moncal td {
	border: 0px;
	margin: 0px;
	padding: 0px;
	min-width: 25px;
}
.bg_moncal hr {
	margin: 2px 0 2px;
}
.bg_moncal .bg_ortcal_top {			/* Заголовок окна 				*/
       height: 20px;
}
.bg_moncal td.bg_ortcal_bot {			/* Подвал окна 					*/
	cursor: pointer;
	text-align: center;
}
.bg_moncal .bg_ortcal_top td, .bg_moncal td.bg_ortcal_bot {
    font-family: Tahoma;
    font-size: 12px;
    padding: 2px 0px;
}
 
.bg_moncal td.bg_ortcal_arrow{			/* Поля перехода назад-вперед	*/
    font-family: Tahoma;
    font-size: 16px;
	text-align: center;
	padding: 3px 5px;
	cursor: pointer;
}
.bg_moncal  td.bg_ortcal_over {			/* Дата под курсором			*/	
    border: 0px outset;
	font-weight: bold;
    cursor: pointer;
	text-align: center;
}
.bg_moncal td.bg_ortcal_month {			/* Названия месяцев				*/
    font-weight: bold;
    font-size: 14px;
}
.bg_moncal td.bg_ortcal_week {			/* Дни недели					*/
	text-align: center;
}
.bg_moncal td.bg_ortcal_day {			/* Обычный день					*/
    color: #000000;
	background-repeat: no-repeat;
	text-align: center;
}
.bg_moncal td.bg_ortcal_today {			/* Сегодня						*/
	background-repeat: no-repeat;
    font-weight: bold;
	text-align: center;
}
.bg_moncal td.bg_ortcal_weekend {		/* Воскресные дни				*/
	color: red;						/* Цвет текста 	*/
	text-align: center;
}
.bg_moncal td.bg_ortcal_easter {		/* Пасха						*/
    color: white;					/* Цвет текста 	*/
 	background-color: red;			/* Цвет фона 	*/
    font-weight: bold;
	text-align: center;
}
.bg_moncal td.bg_ortcal_holidays {		/* Праздники					*/
    color: red;						/* Цвет текста 	*/
    font-weight: bold;
	text-align: center;
}
.bg_moncal td.bg_ortcal_memory {		/* Дни памяти (родительские)	*/
    color: blue;					/* Цвет текста 	*/
    font-weight: bold;
	text-align: center;
}
.bg_moncal td.bg_ortcal_post {			/* Постные дни					*/
	background-color:silver;		/* Цвет фона 	*/
	text-align: center;
}
.bg_moncal td.bg_ortcal_post_weekend { /* Постные воскресные дни		*/
	color: red;						/* Цвет фона 	*/
	background-color:silver;		/* Цвет фона 	*/
	text-align: center;
}
.bg_moncal td.bg_ortcal_post_holidays { /* Постные праздники			*/
	color: red;						/* Цвет текста 	*/
	background-color:silver;		/* Цвет фона 	*/
    font-weight: bold;
	text-align: center;
}
.bg_moncal td.bg_ortcal_post_memory {	/* Постные дни памяти			*/
	color: blue;					/* Цвет текста 	*/
	background-color:silver;		/* Цвет фона 	*/
    font-weight: bold;
	text-align: center;
}
.bg_moncal a, .bg_moncal a:hover, .bg_moncal a:active {			/* Ссылки внетри календаря			*/
    color: inherit;
	background-repeat: no-repeat;
	text-align: center;
	text-decoration: none;
}
